<br>
<br><br>
<div class="img">
<img src="assets/img/aboutus.png" width="1260px" height="460px" >
</div>

<div class="paragraph">
<p class="size">
    Amazon clone is a simple application which demonstrates an E-commerce website using the Java Spring Boot. Ecommerce is the activity of buying or selling of products on online services or over the Internet. Customer can browse various types of products, customer can add the products to cart and then do payment. This website was made with the help of Java Spring Boot and Angular.
</p>
</div>