<div class="header">
  <table>
      <tr>
          <td>
  <img src="assets/img/amazonlogo.png" alt="amazon"  margin-right="30px"  height= "30px" width= "100px" padding = "40px" >
  </td>
  <td class="td2"><a routerLink="/">Home</a></td>
  <td class="td1"><a routerLink="signup">Profile</a></td>
  <td class="td1"><a routerLink="products">Products</a></td>
  <td class="td1"><a routerLink="cart">Cart</a></td>
 
  <td class="td2"><a routerLink="about">About</a></td>
  <td class="td1"><a routerLink="contactus">Contact us</a></td>
 
 


  </tr>
</table>
</div>

<div class="footer">
  <footer>&copy; Copyright 2022 , AmaonClone.com , All rights reserved</footer>   
  
</div>
<router-outlet></router-outlet>