.appButton{
  
    margin:0px;
  
    padding:5px ;
  
    width:160px;
  
    background-color: crimson;
    color:azure;
    border: 1px solid;
  
    cursor:pointer;
    margin-right: 20%;
    border-radius: 50px;
  

  }

  .rdiv{
    margin-right: 1000px;
    margin-left:18% ;
    margin-top: -100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
  }
