<br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="img">
    <img src="assets/img/amazlogo.webp" width="900px" height="500px" >
    </div>

<div class="text">
    
        <p style="font-size: 40px;"> <b> <i>Contact us:</i></b></p>
        <i class="fa fa-phone"  style="font-size:24px"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7006123456</i>
    <!-- <p> <b>Phone no:</b> 7006123456 </p> -->
    <p> <b>Email:</b> amazon@capgemini.com</p>
    <p> <b>Address:</b> Capgemini Technology Services  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  INDIA Ltd in Airoli, Navi Mumbai,  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Mumbai</p>

</div>
